page-perguntas {
    .foto {
        width: 80%;
        height: 50%;
        border: 1px solid black;
        margin: 10% auto;
        border-radius: 10px;
        background: url('../../assets/imgs/sports.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    p {
        text-align: center;
        margin-bottom: 15%;
        font-size: 20pt;
    }

    .resposta h3 {
        text-align: center;
    }

    .resposta {
        display: inline-block;
        width: 20%;
        height: 10%;
        border: 1px solid black;
        margin-left: 20%;
        border-radius: 5px;
    }

    #sim {
        background-color: #03ec13   ;
    }

    #nao {
        background-color: #d43f3a;
    }
}
