page-fbauth {

    ion-content {
        background-color: rgb(247, 247, 247) !important;
    }   

    .fbbutton {
       font-size: 8em;
       margin-top: 50%;
       color: black;
    }

    .fblogin {
        button {
            background: #e99651 !important;
            color: black;
            font-weight: bolder;
            font-family: Montserrat;
            margin-top: 40%; 
        }  
    }

   
  
}
