page-home {
        .main {
            background-image: url('../../assets/imgs/map.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
}
