page-lista {
    #lista {
        list-style: none;
        font-family: Raleway;
    }
    ion-title {
        font-family: Montserrat;
        font-weight: bolder;
    }
    ion-input {
        font-family: Montserrat;
        font-style: italic;
    }
    .btn {
        font-family: Montserrat;
        font-weight: bolder;
        color: black;
        background-color: #e99651 !important;
    }
    ion-item {
        display: block;
    }
    ion-label {
        display: inline;
        margin-left: 5%;
        font-size: 1.2em;
        font-weight: 600;
    }
    
    ion-icon {
        margin-top: 5%;
        margin-left: 5%;
        font-size: 5em;
    }
    .rj {
        float: right;   
        margin-top: 10%;
        margin-bottom: 12%;
        margin-right: 5%;
        font-family: Montserrat;
    }
}
