page-lista {
    #lista {
        list-style: none;
        font-family: Raleway;
    }
    ion-title {
        font-family: Montserrat;
        font-weight: bolder;
    }
    ion-input {
        font-family: Montserrat;
        font-style: italic;
    }
    .btn {
        font-family: Montserrat;
        font-weight: bolder;
        color: black;
        background-color: #e99651 !important;
    }
    ion-item {
        display: block;
        border-bottom: 1px solid #cecece;
        padding: 8px;
    }
    ion-label {
        display: inline;
        margin-left: 5%;
        font-size: 1.2em;
        font-weight: 600;
    }
    
    ion-icon {
        margin-top: 5%;
        margin-left: 5%;
        font-size: 5em;
    }
    .rj {
        float: right;   
        margin-top: 5%;
        margin-right: 5%;
        font-family: Montserrat;
    }
    .chek {
        position: absolute;
        width: 20px;
        height: 20px;
        left: 6%;
        cursor: pointer;
        opacity: 1;
        background: #ccc;
        border-radius: 30px;
    }
    h5 {
        font-family: Montserrat;
        font-weight: Bolder;
        margin-top: -10%;
        margin-left: 70%;
    }
    h2 {
        font-family: Montserrat;
        font-weight: Bolder;
    }
    .newtravel {  
        font-family: Montserrat;
        font-weight: bolder;
        color: black;
        background-color: #e99651 !important;
        width: 50%;
    }
}
